img.group38 {
    width: 85%;
    float: right;
}
img.study-together {
    position: absolute;
    width: 60%;
    top: 14rem;
    left: 0%;
}
.text-justify {
    text-align: justify;
}
.student-scroll {
    background: #E5E5E5;
    margin-top: 4rem;
}
.student-scroll .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.student-scroll h1 {
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 65px;
    font-weight: 300;
    color: #069C84;
}
.card-imgs {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}
.card-imgs img{
    margin-right: 1rem;
}
.testimolial-card {
    padding: 1rem;
    width: 49%;
    border: 1px solid #D8E2EF;
    box-shadow: 0px 0px 3px 0px #e5e5e5;
    margin: 0px 10px;
    border-radius: 5px;
}
.testimolial-slider {
    display: flex;
    align-items: center;
}
.messanger {
    float: right;
}
@media screen and  (max-width:600px) {
img.study-together {
    position: absolute;
    width: 60%;
    top: 9rem;
    left: 0%;
}
.student-scroll {
    background: #E5E5E5;
    margin-top: 8rem;
}
.student-scroll .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
}


@media screen and (min-width: 736px) and (max-width:1028px) {
    img.study-together {
        position: absolute;
        width: 60%;
        top: 8rem;
        left: 0%;
    } 
}