/* -------------------- Basic Setup --------------------- */
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@200;400;500&display=swap'); 
:root {
    --backgroundColor:#ffffff;
    --headingColor:#000000;
    --paragraphColor: #000000;
    --buttonBgColor:  #046EB6;
    --highlightText: #069C84;
    --textLink:#3366CC;
    --pragFontSize:20px;
    --h1:55px;
    --h2:40px;
    --h3:34px;
     /* highlightText */
    --h4:34px;
    --h5:26px;
    --h6:20px;
  }
  @media screen and (max-width: 736px) {
    :root {
        --backgroundColor:#ffffff;
        --headingColor:#000000;
        --paragraphColor: #000000;
        --buttonBgColor:  #046EB6;
        --highlightText: #069C84;
        --textLink:#3366CC;
        --pragFontSize:18px;
        --h1:40px;
        --h2:32px;
        --h3:26px;
        --h4:22px;
        --h5:20px;
        --h6:18px;
      }
    }
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Rokkitt', serif;
}

body,
form,
fieldset,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    /* vertical-align: bottom; */
}

a {
    text-decoration:none;
    color: #000000;
    font-size: 20px;
    font-weight: 200;
    transform: all .5s ease-in-out;
}
.activeLink{
    color: #046EB6;
}
a:hover {
    text-decoration: none;
    color:  var(--highlightText);
    transform: all .5s ease-in-out ;
}


/* ------------------- Defaults ------------------- */

html {
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
}

body {
    height: 100%;
    background: var(--backgroundColor);
    color: var(--paragraphColor);
    box-sizing: border-box;
}


/* ------------------ Typography ------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 1rem;
}

p,
ul,
ol {
    font-size: var(--pragFontSize);
}
p,li {
    font-weight: 300;
    line-height: 1.4;
}
ul {
    margin: 0 ;
    list-style: none;
}

h1 {
    font-size:var(--h1);
    font-weight: 400;
}

h2 {
    font-size: var(--h2);
    font-weight: 400;
}

h3 {
    font-size: var(--h3);
    font-weight: 500;
    color: var(--highlightText);
}

h4 {
    font-size: var(--h4);
    font-weight: 400;
}

h5 {
    font-size: var(--h5); 
    font-weight: 300;
}

h6 {
    font-size: var(--h6);
    font-weight: 500;
}

label {
    color: rgb(128, 128, 128);
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: all 0.2s ease 0s;
    font-size: 20px;
}
/* ------------------ Header Menu ------------------- */
 .navLogo {
    display: inline-flex;
    width: 220px;
    align-items: center;
}
.navLogo h4 {
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
    margin-left: 10px;
    margin-top: 22px;
    margin-bottom: 0;
}
.header {
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 5px rgb(216 226 239 / 60%);
}
span.material-icons{
    font-size: 22px;
    color: #838383;
    margin-left: 2px;
}
a.nav-link {
    font-size: 1.4rem;

}
.nav-item{
    margin: 0px 10px;
}
li.nav-item:last-child {
    margin-right: 0px;
}
/*
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all .25s ease-in-out;
    height: 100px;
}
.navigation ul {
    display: flex;
    align-items: center;
    transition: all .25s ease-in-out;
}
.navigation li {
    padding: 5px 20px;
}
.navigation li a {
    display: flex;
    align-items: center;
}
.returnIcon {
    margin: 0px 10px -4px;
    width: 20px;
}
.userIcon {
    width: 20px;
    border-radius: 50%;
    background: #F3F3F3;
    padding: 6px;
    margin: 0px 0px -5px;
}
span.material-icons {
    font-size: 25px;
    color: #838383;
    margin-left: 7px;
}

.navigation  li a.active {
    color: var(--highlightText);
  }
  
  .navigation  .icon {
    display: none;
  }

@media screen and (max-width: 736px) {


    .navigation ul{
        display: none;
    }

    .navigation .icon {
        display: block;
      }
      
      .showMenu {
        height: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -150px;
        padding-bottom: 30px;
        transition: all .25s ease-in-out;
    }
     .showMenu ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-left: -130px;
        margin-top: 250px;
        border-top: 1px solid #d8e2ef;
        transition: all .25s ease-in-out;
        width: 100%;
    }
    .showMenu li {
        padding: 5px 20px;
        margin-top: 10px;
    }
  }
   */
  

/* ------------------ Header Menu End ------------------- */
/* ------------------ Footer Menu ------------------- */
.footer {
    background: #2B325C;
    color: #ffffff;
    padding: 50px 0px;
}
.footer-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer ul li a {
    color: #ffffff;
    line-height: 35px;
}
.footer ul li a:hover {
    color: var(--highlightText);
    line-height: 35px;
}
.fa{
    font-weight: 400;
    color: white;
    font-size: 40px;
    margin-right: 6px;
}
.fa:hover{
    font-weight: 400;
    color: var(--highlightText);
    font-size: 40px;
    margin-right: 6px;
}

@media screen and (max-width:600px) {
    .foot-menu {
        margin: 30px 0;
    }
    .footer-body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: nowrap;
    }
}
/*-------------------------- footer end --------------------------*/

/* Sign up section */
.sign-info{
    text-align: center;
    padding:20px 0 ;
}
.main-body {
    background: #D8E2EF;
    padding: 8% 0;
}
.sign-form {
    margin: 0rem 2rem;
    transform: translate(0px, 0px);
    height: auto;
    background: rgb(255, 255, 255);
    padding: 30px 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #a9a9a9;
}

 @media screen and (min-width:768px)  and (max-width:1028px){
    .main-body .col-md-5 {
        flex: 0 0 auto;
        width: 60%;
    }
 }
 @media screen and (max-width:768px) {
    .sign-form {
        margin: 0 10px;
        transform: translate(0px, 0px);
        height: auto;
        background: rgb(255, 255, 255);
        padding: 25px 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #a9a9a9;
    }
}

/* input  */
.checkbox-field {
    display: flex;
    align-items: baseline;
}
input[type="text"], input[type="password"] {
    width: 100%;
    height: 45px;
    padding: 5px 15px;
    margin-bottom: 5px;
    border: 1px solid #d8e2ef;
    border-radius: 3px;
    transition: 0.2s ease-in;
    outline: none;
}
input[type="checkbox"] {
    width: 18px;
}

input::-webkit-input-placeholder {
    transition: 0.2s ease-in;
}

input[type="text"]:focus, input[type="password"]:focus {
    height: 45px;
    padding: 5px 15px;
    transition: 0.2s ease-in;
    border: 1px solid #c3d5ec;
    outline: none;    
}

.input-field {
    position: relative;
    margin: 10px 2.5px 20px 2.5px;
}

label {
    color: rgb(128, 128, 128);
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s;
}
input:focus ~ label, input:valid ~ label {
    top: -10px;
    left: 15px;
    font-size: small;
    color: var(--highlightText);
    background-color:#fff;
    padding:0 5px 0 5px;
}
/* button */
.submit-button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: #046EB6;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 0px 5px;
}

.signup-footer{
    text-align: center;
    margin-top: 1px;
}
.signup-footer span {
    font-size: 18px;
    color: rgb(128, 128, 128);
}
/* ------ProfileCheck */
.profileCheck {
    position: absolute;
    display: block;
    padding: 25px;
    background: white;
    border-radius: 10px;
    top: 16%;
    right: 8%;
    transform: translate(8%, 6%);
}
.profileCheck p {
    margin-bottom: 0;
}

.profileCheck h4 {
    margin-bottom: 0;
    font-size: 25px;
}
@media screen and (max-width:600px) {
    .checkbox-field {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }
    .profileCheck {
        position: absolute;
        display: block;
        padding: 25px;
        background: white;
        border-radius: 10px;
        top: 16%;
        right: 8%;
        transform: translate(8%, 6%);
    }
}








/* Programme Section */

.programe-bar {
    margin-top: 1px;
    background: white;
    padding: 20px 0px;
}

.search-programe {
    background: rgba(216, 226, 239, 0.6);
    padding: 60px 0px;
}

.searchBox {
    background: white;
    padding: 8px 20px;
    width: 60%;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.searchBox input[type="text"], input[type="password"] {
    width: 95%;
    height: 32px;
    padding: 0px 10px;
    margin-bottom: 0px;
    border: none;
    border-radius: 3px;
    transition: 0.2s ease-in;
    outline: none;
}
input.searchInput::placeholder {
    font-size: 20px;
}
.solutions {
    margin: 60px 0px;
}
.card {
    display: inline-flex;
    width: 30rem;
    background: white;
    padding: 30px;
    border-radius: 15px;
    margin-top: 70px;
}

.cardText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 20px;
}

.solutions h2 {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}
.cardText h5 {
    margin: 0px 0px -25px;
    font-weight: 500;
}

@media screen and (max-width:600px) {

.searchBox {
    background: white;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.card {
    display: inline-flex;
    width: 95%;
    background: white;
    padding: 10px;
    border-radius: 15px;
    margin-top: 30px;
}
input.searchInput::placeholder {
    font-size: 16px;
}
.cardText h5 {
    margin: 0px 0px -15px;
    font-weight: 500;
}
}